html {
  background-color: darkslateblue;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 2vh;
}

a {
  color: white;
}

h3 > a {
  text-decoration: none;
}

header {
  display: flex;
  margin-bottom: 60px;
}

section.main-section {
  display: flex;
  flex-wrap: nowrap;
}

section[class^="kanban"] {
  flex: 0 0 19%;
  justify-content: space-around;
  border: 1px solid #5555d8;
  width: 15vw;
  height: 50vh;
  background-color: lightgray;
}

section[class^="kanban"] > h3 {
  position: relative;
  top: -5.5vh;
}

footer.main-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
